body {
    background-color: white; 
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    color: #5c3d2e; 
}
.web-header,.chat-header {
    background: linear-gradient(135deg, #000000 50%, #8C7B50 100%);
    color: #d4af37;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    margin-bottom: 5px;
}

.sidebar {
    min-height:80lvh;
    width: 250px;
    min-width: 250px;
    background-color: #f4f4f4; 
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.logo-box img {
    margin-top: 20px;
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.description {
    margin-top: 20px;
    font-size: 18px;
    color: #5c3d2e;
    text-align: justify; 
}


.main-content {
    flex-grow: 1;
    padding: 15px;
}

.title {
    text-align: center;
}

.title h1 {
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    border-radius: 5px;
    color: #d4af37;
    background: linear-gradient(135deg, #000000 50%, #8C7B50 100%);
}


#container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#scraper-container, #chat-container {
    width: 48%;
    height: 500px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9; 
}


#scrape-results {
    margin-top: 10px;
    background-color: #f0e6d2; 
    padding: 5px;
    margin-left: 5px;
    width: 440px;
    border-radius: 5px;
    height: 47lvh;
    overflow-y: auto;
    color: #5c3d2e; 
}


#chat-box {
    height: 45lvh;
    overflow-y: auto;
    padding: 10px;
    background-color: #f9f9f9; 
    margin-bottom: 10px;
    color: #5c3d2e; 
}


.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    max-width: 90%;
    color: #5c3d2e; 
}

.user-message {
    font-family: 'Lato', sans-serif;
    background-color: #d4af37; 
    color: white;
    align-self: flex-end;
    display: inline-block;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    max-width: 80%;
}

.bot-message {
    background-color: #f0e6d2; 
    color: #5c3d2e;
}


#send-btn, #scrape-btn, #train-btn {
    margin-left: 10px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(135deg, #b8860b, #d4af37); 
    color: white;
    cursor: pointer;
}

#user-input, #url-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9; 
    color: #5c3d2e; 
}


#message {
    display: none;
}
#scraper-container h2, #chat-container h2 {
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
    margin-left: 150px;
} 
#input-container {
    display: flex;
    padding: 11px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px solid #ccc;
}

#url-container {
    display: flex;
    justify-content: space-between;
    padding: 5px;

}


.spinner {
    border: 8px solid #f3f3f3; 
    border-top: 8px solid #d4af37 ; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 65%;
    left: 40%;
    transform: translate(-50%, -50%);
    display: none; 
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
